*{ box-sizing: border-box; }
header{
  width: 100%;

}
header img{
  width: 150px;
}
header h1{
  float: right;
  margin-right: 45%;
  font-size: 40px;
  
  
  
}
header a{
  color: black;
}
header a:link{
  text-decoration: none;
  list-style: none;
}
#meny ul{
  list-style-type: none;
  margin: 0%;
  padding-left: 38%;
  overflow: hidden;
  background-color:rgb(123, 143, 161);

}
#meny li{
  float:left;
  padding: 20px;
  font-size: xx-large;
  background-color: rgb(123, 143, 161);
  

}
#meny a{
  margin: 0 auto;
  display: block;
  color: black;
  background-color:rgb(255,255,255) ;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 10px;

}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1.5rem;
    background-color: #567189;
  }


.produktloop h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
    font-size: small;
  }

  .produktxr h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
    font-size: small;
  }
  

.left-col img {
    border: 5px solid #fad6a5;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    background-color: aliceblue;
    margin:auto;
  }

  main{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    max-width: 100%;
    
  }

  .left-col{
    margin:auto;
    width:20%;
  }
  
.right-col {
  border: 5px solid #fad6a5;
  border-radius: 4px;
  padding: 20px;
  text-align: left;
  width: 75%;
  margin:auto;
  background-color: aliceblue;
}
.tabell{
  margin-left: 20px;
}
.info td{
  padding:5px;
  border: 3px solid #fad6a5;
  border-radius: 4px;
  
  background-color: aliceblue;
}
